$color-almost-black: #121212;
$color-light-pink: #fbe2bc;
$color-white: #fff;
$color-light-grey: #efefef;
$color-dark-blue: #134571;
$color-grey: #ddd;
$color-dark-grey: #555;
$color-black: #000;
$color-highlight-blue: #06c;
$color-yellow: #ffb952;
$color-aqua-blue: #037091;
$color-success: #360;
$color-information: #96d2f8;
$color-failure: #c30;
$color-green: #3bb300;
$color-red: #f00;
$color-link-blue: $color-aqua-blue;
$color-link-blue-hover: $color-dark-blue;
$color-link-blue-focus: $color-dark-blue;
$color-link-blue-visited: #4c2c92;
$color-link-blue-active: #1e1e2a;
$color-link-disabled: #b5c3a8;
$color-focus-blue-outline: #1d70b8;
$color-cta-background: $color-aqua-blue;
$color-cta-background-hover: $color-dark-blue;
