@import "./colours";

$spacer-unit: 1rem;
$gutter-unit: 25px;
$grid-breakpoint-small: 576px;
$grid-breakpoint-medium: 768px;
$grid-breakpoint-large: 992px;
$grid-breakpoint-extra-large: 1200px;
$font-roboto: "Roboto", sans-serif;
$font-open-sans: "Open Sans", sans-serif;
$font-serif: serif;

// Paths
$fa-path: "/static/fontawesome-svgs/";

// Images
$fa-chevron-right: "#{$fa-path}chevron-right.svg";
$fa-chevron-right-white: "#{$fa-path}chevron-right-white.svg";
$fa-chevron-right-disabled: "#{$fa-path}chevron-right-disabled.svg";
$fa-chevron-left: "#{$fa-path}chevron-left.svg";
$fa-chevron-left-white: "#{$fa-path}chevron-left-white.svg";
$fa-chevron-left-disabled: "#{$fa-path}chevron-left-disabled.svg";
$fa-download: "#{$fa-path}download.svg";
