@import "./mixins";
/* stylelint-disable no-descending-specificity */
@mixin judgment-footnote {
  scroll-margin-top: 9rem;
  padding-bottom: $space-4;
  text-decoration: none;

  &:hover {
    sup {
      text-decoration: underline;
    }
  }

  &:focus {
    outline: none;

    sup {
      @include focus-default;
    }
  }

  sup {
    position: relative;
    z-index: 0;
    top: -0.3em;

    margin: 0 $space-1;
    padding: 0 $space-1;
    border-radius: 3px;

    vertical-align: top;

    background-color: rgba(colour-var("accent-brand"), 0.25);
  }
}

.judgment-header {
  padding-top: $space-12;

  table {
    td {
      border-color: transparent;
    }
  }

  &__logo {
    img {
      display: block;
      margin: auto;
    }
  }

  &__neutral-citation {
    text-align: right;
    text-decoration: underline;

    span.ncn-nowrap {
      white-space: nowrap;
    }

    span {
      display: inline-block;
      text-decoration: underline;
    }
  }

  // START – Thi is a fix to correct the alignment of the crest image so that it is centred.
  // Refer to NCN [2022] EWCA Crim 985 as an example.

  table.crest-alignment-fix {
    margin-top: $space-4;

    td {
      width: 67%;
      padding-left: 0;
      border-color: transparent;

      &:last-child {
        width: 33%;
        padding: 0;
        text-align: right;
      }

      img {
        display: block;
        margin: $space-4 auto;
        padding-left: 57%;
      }
    }

    .judgment-header__neutral-citation {
      text-align: left;
    }
  }

  // ENDS

  p {
    margin: 0 0 $space-2;
  }

  &__case-number {
    padding-top: $space-4;
    text-align: right;
    text-decoration: underline;

    h1 {
      font-size: $typography-md-text-size;
    }
  }

  &__court {
    font-weight: bold;
    text-decoration: underline;
  }

  &__address {
    padding-top: $space-4;
    font-style: normal;
    text-align: right;
    text-decoration: underline;
  }

  &__date {
    padding-top: $space-4;
    font-style: normal;
    text-align: right;
    text-decoration: underline;
  }

  &__before {
    padding-top: $space-4;
    font-weight: bold;
    text-align: center;

    h2 {
      font-size: $typography-md-text-size;
    }
  }

  &__between {
    h2 {
      font-size: $typography-md-text-size;
      text-align: center;
    }
  }

  &__line-separator {
    text-align: center;
  }

  &__queens-counsel {
    @media (min-width: $grid-breakpoint-medium) {
      ul {
        padding: 0;
      }

      li {
        text-align: center;
        list-style: none;

        span {
          font-weight: bold;
        }
      }
    }
  }

  &__hearing-dates {
    text-align: center;
  }

  &__approved-judgment {
    text-align: center;
  }

  // Classes with `pr-` prefix are purely presentational
  // escape-hatches for dealing with specific formatting
  // details in judgments that must be preserved.

  &__pr-center {
    text-align: center !important;
  }

  &__pr-right {
    text-align: right !important;
  }

  &__pr-left {
    text-align: left !important;
  }

  @media (min-width: $grid-breakpoint-medium) {
    &__party {
      @include three-columns($space-4);

      font-weight: bold;
    }

    &__and-separator {
      font-weight: bold;
      text-align: center;

      &--between {
        margin-top: $space-4;
        margin-bottom: $space-4;
        font-weight: bold;
        text-align: center;
      }
    }
  }
}

.judgment {
  max-width: 90%;
  margin: auto;
  margin-bottom: $space-8;

  font-family: $font-serif;
  font-size: $typography-lg-text-size;
  line-height: $typography-lg-line-height;
  overflow-wrap: anywhere;

  img {
    max-width: 100vw;
  }

  td {
    padding-right: $space-4;
    padding-left: $space-4;
  }

  table {
    border-collapse: collapse;
    width: 100%;

    &.pr-two-column {
      table-layout: fixed;
      width: 100%;
      white-space: nowrap;

      td:first-child {
        width: 80%;
        padding-right: 0;
        padding-left: 20%;

        @media (max-width: $grid-breakpoint-small) {
          padding: 0 $space-4;
        }
      }

      td:last-child {
        width: 20%;
        padding: 0;
        overflow-wrap: anywhere;

        @media (max-width: $grid-breakpoint-small) {
          padding-right: $space-4;
          white-space: nowrap;
        }
      }
    }
  }

  td > p:first-child {
    margin-top: 0;
  }

  td > p:last-child {
    margin-bottom: 0;
  }

  &__hidden {
    /* Visible to screenreaders */
    position: absolute;
    top: auto;
    left: -10000px;

    overflow: hidden;

    width: 1px;
    height: 1px;
  }

  @media (min-width: $grid-breakpoint-medium) {
    max-width: 40rem;
    font-size: $typography-md-text-size;
  }

  @media (min-width: $grid-breakpoint-medium) {
    max-width: 46rem;
    font-size: $typography-md-text-size;
  }
}

.judgment-body {
  &__table {
    overflow: scroll;
    width: 100%;
    margin: $space-4 0;

    @media (min-width: $grid-breakpoint-medium) {
      overflow: visible;
      width: calc(100% + $judgment-margin-offset);
      margin: $space-4 (-$judgment-margin-offset);
    }
  }

  table {
    table-layout: auto;
    border: 1px solid colour-var("contrast-background");

    td {
      padding: 0.5rem 0.75rem;
      border: 1px solid colour-var("contrast-background");
      word-wrap: break-word;
    }
  }

  h3 {
    font-size: $typography-md-text-size;
  }

  h4 {
    font-weight: normal;
    font-style: italic;
  }

  &__number {
    white-space: nowrap;

    &:target {
      animation-name: emphasis-border;
      animation-duration: 1.5s;

      + .judgment-body__text {
        animation-name: emphasis;
        animation-duration: 1.5s;
      }
    }

    @media (max-width: $grid-breakpoint-medium) {
      padding-right: $space-4;
    }
  }

  section {
    scroll-margin-top: 9rem;
  }

  &__section {
    scroll-margin-top: 9rem;

    @media (max-width: $grid-breakpoint-medium) {
      > div {
        display: inline;

        &::after {
          content: " ";
          display: block;
        }

        p {
          display: inline;

          &::after {
            content: " ";
            display: block;
            margin-bottom: $space-4;
          }
        }
      }
    }

    @media (min-width: $grid-breakpoint-medium) {
      display: grid;
      grid-template: ". ." 1fr / 1fr 15fr;
      gap: 0 $space-2;
    }
  }

  &__nested-section {
    span {
      word-wrap: break-word;
    }

    @media (max-width: $grid-breakpoint-medium) {
      margin-left: $space-4;

      > div {
        display: inline;

        &::after {
          content: " ";
          display: block;
        }

        p {
          display: inline;

          &::after {
            content: " ";
            display: block;
            margin-bottom: $space-4;
          }
        }
      }
    }

    @media (min-width: $grid-breakpoint-medium) {
      display: flex;
      gap: $space-2;

      &:has(span:empty) {
        gap: 0;
        margin: 0;

        .judgment-body__number {
          padding: 0;
        }
      }
    }
  }

  &__indent {
    margin-left: $space-4;
  }

  &__no-margin-top {
    margin-top: 0;
  }

  &__footnote-reference {
    @include judgment-footnote;
  }
}

.judgment-footer {
  &__footnote {
    scroll-margin-top: 9rem;
  }

  &__footnote-backlink {
    @include judgment-footnote;
  }
}

.judgment-download {
  padding: $space-2;
  color: colour-var("contrast-font-base");
  text-align: center;
  background-color: colour-var("contrast-background");

  &__container {
    margin: auto;

    @media (min-width: $grid-breakpoint-medium) {
      max-width: 40rem;
    }

    @media (min-width: $grid-breakpoint-medium) {
      max-width: 46rem;
    }
  }

  &__list {
    display: inline-block;
    padding: 0;
    text-align: center;
    list-style: none;

    li {
      display: inline-block;
      margin-left: $space-4;
    }
  }

  &__description {
    @include sr-only;
  }

  a {
    @include link-on-dark-bg;

    padding: $space-1;
    padding-left: $space-8;

    background-image: url($fa-download);
    background-repeat: no-repeat;
    background-position: $space-1 $space-1;
    background-size: $space-4;
  }
}
/* stylelint-enable no-descending-specificity */
