@import "./mixins";
/* stylelint-disable no-descending-specificity */
.judgment-header {
  padding-top: $spacer-unit * 3;

  table {
    td {
      border-color: transparent;
    }
  }

  &__logo {
    img {
      display: block;
      margin: auto;
    }
  }

  &__neutral-citation {
    text-align: right;
    text-decoration: underline;

    span.ncn-nowrap {
      white-space: nowrap;
    }

    span {
      display: inline-block;
      text-decoration: underline;
    }
  }

  // START – Thi is a fix to correct the alignment of the crest image so that it is centred.
  // Refer to NCN [2022] EWCA Crim 985 as an example.

  table.crest-alignment-fix {
    margin-top: 1rem;

    td {
      width: 67%;
      padding-left: 0;
      border-color: transparent;

      &:last-child {
        width: 33%;
        padding: 0;
        text-align: right;
      }

      img {
        display: block;
        margin: 1rem auto;
        padding-left: 57%;
      }
    }

    .judgment-header__neutral-citation {
      text-align: left;
    }
  }

  // ENDS

  p {
    margin: 0 0 calc($spacer-unit / 2) 0;
  }

  &__case-number {
    padding-top: $spacer-unit;
    text-align: right;
    text-decoration: underline;

    h1 {
      font-size: 1rem;
    }
  }

  &__court {
    font-weight: bold;
    text-decoration: underline;
  }

  &__address {
    padding-top: $spacer-unit;
    font-style: normal;
    text-align: right;
    text-decoration: underline;
  }

  &__date {
    padding-top: $spacer-unit;
    font-style: normal;
    text-align: right;
    text-decoration: underline;
  }

  &__before {
    padding-top: $spacer-unit;
    font-weight: bold;
    text-align: center;

    h2 {
      font-size: 1rem;
    }
  }

  &__between {
    h2 {
      font-size: $spacer-unit;
      text-align: center;
    }
  }

  &__line-separator {
    text-align: center;
  }

  &__queens-counsel {
    @media (min-width: $grid-breakpoint-medium) {
      ul {
        padding: 0;
      }

      li {
        text-align: center;
        list-style: none;

        span {
          font-weight: bold;
        }
      }
    }
  }

  &__hearing-dates {
    text-align: center;
  }

  &__approved-judgment {
    text-align: center;
  }

  // Classes with `pr-` prefix are purely presentational
  // escape-hatches for dealing with specific formatting
  // details in judgments that must be preserved.

  &__pr-center {
    text-align: center !important;
  }

  &__pr-right {
    text-align: right !important;
  }

  &__pr-left {
    text-align: left !important;
  }

  @media (min-width: $grid-breakpoint-medium) {
    &__party {
      @include three-columns($spacer-unit);

      font-weight: bold;
    }

    &__and-separator {
      font-weight: bold;
      text-align: center;

      &--between {
        margin-top: $spacer-unit;
        margin-bottom: $spacer-unit;
        font-weight: bold;
        text-align: center;
      }
    }
  }
}

.judgment {
  max-width: 90%;
  margin: auto;
  margin-bottom: calc($spacer-unit * 2);

  font-family: $font-serif;
  font-size: 1.2rem;
  line-height: 1.3;

  img {
    max-width: 100vw;
  }

  td {
    padding-right: 1em;
    padding-left: 1em;
  }

  table {
    border-collapse: collapse;
    width: 100%;

    &.pr-two-column {
      table-layout: fixed;
      width: 100%;

      td:first-child {
        width: 80%;
        padding-right: 0;
        padding-left: 20%;

        @media (max-width: $grid-breakpoint-small) {
          padding: 0 1rem;
        }
      }

      td:last-child {
        width: 20%;
        padding: 0;
        overflow-wrap: anywhere;

        @media (max-width: $grid-breakpoint-small) {
          padding-right: 1rem;
          white-space: nowrap;
        }
      }
    }
  }

  td > p:first-child {
    margin-top: 0;
  }

  td > p:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $grid-breakpoint-medium) {
    max-width: 40rem;
    font-size: 1.1rem;
  }

  @media (min-width: $grid-breakpoint-medium) {
    max-width: 46rem;
    font-size: 1rem;
  }
}

.judgment-body {
  table {
    table-layout: auto;
    width: 100%;
    margin: 1rem auto;
    border: 1px solid $color-almost-black;

    td {
      border: 1px solid $color-almost-black;
    }
  }

  h3 {
    font-size: 1rem;
  }

  h4 {
    font-weight: normal;
    font-style: italic;
  }

  &__number {
    &:target {
      animation-name: emphasis-border;
      animation-duration: 1.5s;

      + .judgment-body__text {
        animation-name: emphasis;
        animation-duration: 1.5s;
      }
    }

    @media (max-width: $grid-breakpoint-medium) {
      padding-right: $spacer-unit;
    }
  }

  section {
    scroll-margin-top: 4rem;
  }

  &__section {
    scroll-margin-top: 4rem;

    @media (max-width: $grid-breakpoint-medium) {
      > div {
        display: inline;

        &::after {
          content: " ";
          display: block;
        }

        p {
          display: inline;

          &::after {
            content: " ";
            display: block;
            margin-bottom: $spacer-unit;
          }
        }
      }
    }

    @media (min-width: $grid-breakpoint-medium) {
      display: grid;
      grid-template: ". ." 1fr / 1fr 15fr;
      gap: 0 $spacer-unit * 0.5;
    }
  }

  &__nested-section {
    @media (max-width: $grid-breakpoint-medium) {
      margin-left: $spacer-unit;

      > div {
        display: inline;

        &::after {
          content: " ";
          display: block;
        }

        p {
          display: inline;

          &::after {
            content: " ";
            display: block;
            margin-bottom: $spacer-unit;
          }
        }
      }
    }

    @media (min-width: $grid-breakpoint-medium) {
      display: grid;
      grid-template: ". ." 1fr / 1fr 24fr;
      gap: 0 $spacer-unit * 0.5;
    }
  }

  &__indent {
    margin-left: $spacer-unit;
  }

  &__no-margin-top {
    margin-top: 0;
  }
}

.judgment-download {
  padding: calc($spacer-unit / 2);
  color: $color-white;
  text-align: center;
  background-color: $color-almost-black;

  &__container {
    margin: auto;

    @media (min-width: $grid-breakpoint-medium) {
      max-width: 40rem;
    }

    @media (min-width: $grid-breakpoint-medium) {
      max-width: 46rem;
    }
  }

  &__list {
    display: inline-block;
    padding: 0;
    text-align: center;
    list-style: none;

    li {
      display: inline-block;
      margin-left: 1rem;
    }
  }

  &__description {
    @include sr-only;
  }

  a {
    @include link-on-dark-bg;

    padding: calc($spacer-unit * 0.3);
    padding-left: calc($spacer-unit * 2);

    background-image: url($fa-download);
    background-repeat: no-repeat;
    background-position: calc($spacer-unit / 4) calc($spacer-unit / 4);
    background-size: 1rem;
  }
}
/* stylelint-enable no-descending-specificity */
