name: CI
permissions: {}
on:
  push:

jobs:
  build-scss:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code Repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          persist-credentials: false

      - name: Set up node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0

      - name: Install node dependencies
        run: npm install sass

      - name: Build scss
        run: npm run build
